body {
  display: flex;
  background-image: url(https://images.unsplash.com/photo-1483470561301-395323922c3c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=776c1587d488feff46b53604ba4841a1&auto=format&fit=crop&w=1189&q=80);
  background-size: cover;
  background-attachment: fixed;
}

.container {
  text-align: center;
  margin-top: 5%;
}

input[type=search] {
	background-color: white;
	color: black;
	margin: 15px 0px 15px 15px;
	font-size: 15px;
	box-sizing:border-box;
	border: 1px solid black;
	border-radius: 50px;
}

input[type=search]:focus {
  outline-style: none;
}

#btn {
  background-color: transparent;
  border: none;
	color: black;
	cursor: pointer;  
	font-size: 20px;
  padding-left: 5px;
}

#result {
	text-align: center;
}

.outputItem {
	background-color: white;
  border: .4px solid black;
	border-radius: 25px;
	color: black;
	cursor: pointer;
	margin: 20px;
	padding: 5px 28px;
  box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(0, 0, 0, .4);
  transition: box-shadow .2s ease-in-out;
}

div.outputItem:hover {
	background-color: white;
	border-color: black;
  box-shadow: inset 2px 2px 2px rgba(0, 0, 0, .8), inset -1px -1px 1px rgba(255, 255, 255, .4);
}

a:hover {
  text-decoration: none;
}
